*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color);
   
}

body{
    background-color: var(--back-color);
}

.container {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}

